<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631895189358-fcpldbjl6o3tkkuh1iic3i1tu9qj8jiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631895189358-fcpldbjl6o3tkkuh1iic3i1tu9qj8jiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDShVewQY10KRbCtv0cgPOLQO4887AUyf8</string>
	<key>GCM_SENDER_ID</key>
	<string>631895189358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorApp</string>
	<key>PROJECT_ID</key>
	<string>tutor-app-1a9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>tutor-app-1a9ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631895189358:ios:4e6fdd45a6b9450b20037f</string>
</dict>
</plist>